KERNEL_CMDLINE="lpm_levels.sleep_disabled=1 service_locator.enable=1 androidboot.selinux=permissive androidboot.memcg=1 msm_rtb.filter=0x3F ehci-hcd.park=3 coherent_pool=8M sched_enable_power_aware=1 user_debug=31 printk.devkmsg=on loop.max_part=16 kpti=0 androidboot.hardware=pdx201 androidboot.fstab_suffix=pdx201 buildvariant=userdebug"
KERNEL_BASE=0x00000000
KERNEL_PAGESIZE=4096
KERNEL_TAGS_OFFSET=0x01E00000
RAMDISK_OFFSET=0x02000000

BOOTIMAGE_PARTITION_SIZE=0x04000000
DTBOIMAGE_PARTITION_SIZE=8388608
