KERNEL_CMDLINE="lpm_levels.sleep_disabled=1 androidboot.bootdevice=1d84000.ufshc swiotlb=2048 service_locator.enable=1 androidboot.selinux=permissive androidboot.memcg=1 coherent_pool=8M printk.devkmsg=on androidboot.hardware=akari buildvariant=userdebug msm_drm.dsi_display0=somc,default_cmd_panel:config0"
KERNEL_BASE=0x00000000
KERNEL_PAGESIZE=4096
KERNEL_TAGS_OFFSET=0x01E00000
RAMDISK_OFFSET=0x02000000

BOOTIMAGE_PARTITION_SIZE=0x04000000
DTBOIMAGE_PARTITION_SIZE=8388608
